 <div class="outer-container">
    <img class="final-image" src="images/final-image-with-name.jpg" alt="">
    <div class="panels">
      <div class="panel panel1">
        <%= link_to about_us_path class: "home-page-link" do %>
          <p class="home-page-link">who</p>
        <% end %>
        <p>WE</p>
        <p>are</p>
      </div>
      <div class="panel panel2">
        <%= link_to about_us_path class: "home-page-link" do %>
          <p class="home-page-link">how to</p>
        <% end %>
        <p>GET</p>
        <p>in touch</p>
      </div>
      <div class="panel panel3">
        <%= link_to about_us_path class: "home-page-link" do %>
          <p class="home-page-link">beautiful</p>
        <% end %>
        <p>THINGS</p>
        <p>to inspire</p>
      </div>
      <div class="panel panel4">
        <%= link_to about_us_path class: "home-page-link" do %>
          <p class="home-page-link">projects</p>
        <% end %>
        <p>DONE</p>
        <p>so far</p>
      </div>
    </div>
  </div>